In [2]:
import pandas as pd

# Loading data
[Pandas read options](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

In [3]:
df = pd.read_csv('data.csv', index_col='Unnamed: 0')

df.head(1)

,source_id,source_name,author,title,description,url,url_to_image,published_at,content,top_article,engagement_reaction_count,engagement_comment_count,engagement_share_count,engagement_comment_plugin_count
0,reuters,Reuters,Reuters Editorial,NTSB says Autopilot engaged in 2018 California...,The National Transportation Safety Board said ...,https://www.reuters.com/article/us-tesla-crash...,https://s4.reutersmedia.net/resources/r/?m=02&...,2019-09-03T16:22:20Z,WASHINGTON (Reuters) - The National Transporta...,0.0,0.0,0.0,2528.0,0.0

# Display parameters
[pandas.set_option parameters](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.set_option.html?highlight=set_option#pandas-set-option)

In [3]:
pd.set_option('display.max_columns',20)
pd.set_option('display.max_rows',20)

# Dataframe
[Dataframe parameters](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html)

## Creating a dataframe

In [40]:
people = {
    "First" : ["Fred","Corey","John"],
    "Last" : ["Teste","teste","teste"],
    "Email" : ["123@teste.com","123@teste.com","123@teste.com"]
}

numbers = {
    "A" : ["1","2","3"],
    "B" : ["2","2","2"],
    "C" : ["5","5","4"]
}

df_people = pd.DataFrame(people)
df_num = pd.DataFrame(numbers)

print(df_num)
print(df_people)

   A  B  C
0  1  2  5
1  2  2  5
2  3  2  4
   First   Last          Email
0   Fred  Teste  123@teste.com
1  Corey  teste  123@teste.com
2   John  teste  123@teste.com

## Informations gattering

### Full size

In [41]:
df_people.size

9

### Dimentions

In [42]:
df_people.shape

(3, 3)

### Labels

In [43]:
df_people.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['First', 'Last', 'Email'], dtype='object')]

### Unique Values

In [48]:
print(df_num.A.unique())
print(df_num.B.unique())
print(df_num.C.unique())
df_num.head()

['1' '2' '3']
['2']
['5' '4']

   A  B  C
0  1  2  5
1  2  2  5
2  3  2  4